.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.footer a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.footer-icon-hub {
  display: flex;
}

.footer-github-link {
  font-size: 2em;
  padding: 1px 6px;
}

.footer-github-link:hover {
  background-color: rgb(182, 182, 186);
}

.day-mode-toggle {
  border: none;
  background-color: rgb(200 199 204);
}

.day-mode-toggle:hover {
  background-color: rgb(182, 182, 186);
}

/* @media only screen and (max-width: 576px) {
  .footer {
    display: none;
  }
} */
