.global-controls {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bpm-controls-container-label {
  width: 100%;
}

.bpm-controls-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.control-button {
  max-height: 40px;
  background-color: rgb(149 172 172);
  border-radius: 3px;
  box-shadow: -3px 3px 8px 2px rgb(23 23 26);
  margin: 0;
  padding: 0 6px;
  font-family: "Varela Round", sans-serif;
  border-width: 0;
}

.sequence-length-container {
  display: flex;
  flex-flow: column;
}

.main-panel-label {
  display: block;
  font-family: "Varela Round", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  opacity: 0.5;
  font-size: 70%;
  text-align: center;
}

.presets-buttons-container {
  display: flex;
  min-width: 110px;
  justify-content: space-around;
  padding-top: 10px;
}

.play-or-stop-button {
  align-self: center;
  margin-bottom: 10px;
}

.steps-container {
  min-width: 0px;
}

.bpm-knob-container {
  position: relative;
  display: flex;
  align-items: center;
}

.tempo-lock-container {
  position: absolute;
  margin: 0 auto;
  margin-top: 4px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 200;
  color: rgb(197, 54, 54);
}

.knobs-container {
  display: flex;
}

.tempo-knob-overlay-disabled * {
  pointer-events: none;
}

@media only screen and (max-width: 576px) {
  .global-controls {
    flex-flow: wrap-reverse;
    justify-content: space-between;
    margin-top: 5%;
  }

  .play-or-stop-button {
    display: block;
    width: 100%;
    /* margin-left: 40%;
    margin-right: 40%; */
    margin-bottom: 6px;
  }

  .knobs-container {
    flex-flow: wrap;
    justify-content: space-between;
    margin: 12% 0;
    margin-right: 5%;
    width: 100%;
  }

  .control-button {
    font-size: 1em;
  }

  .presets-buttons-container {
    min-width: 150px;
  }

  .steps-container {
    min-width: 70px;
  }

  .main-panel-label {
    text-align: left;
  }
}
