.global-controls {
  display: flex;
  width: 100%;
}

.bpm-controls-container-label {
  width: 100%;
}

.bpm-controls-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.control-button {
  max-height: 40px;
}

.sequence-length-container {
  display: flex;
  flex-flow: column;
}
