@font-face {
  font-family: 'EightBitDragon-anqx';
  src: local('EightBitDragon-anqx'), url(../../fonts/EightBitDragon-anqx.ttf) format('truetype');
}

@font-face {
  font-family: 'AncientModernTales-a7Po';
  src: local('AncientModernTales-a7Po'), url(../../fonts/AncientModernTales-a7Po.ttf) format('truetype');
}

.selected-node-control-display {
  font-family: 'EightBitDragon-anqx';
  font-size: 0.7em;
  box-sizing: border-box;
  background-color: rgb(81, 91, 80);
  min-height: 23em;
  max-height: 23em;
  padding: 20px;
  box-shadow: inset 0 0 6px rgb(24 24 29);
}

.sample-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.sample-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: 80px;
  cursor: default;
}

.display-panel-highlight {
  background-color: white;
  color: rgb(81, 91, 80);
}

.display-panel-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  cursor: default;
}

.sequence-length-display-container label {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}

.sequence-dropdown-option {
  width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preset-list-item {
  cursor: default;
  padding-top: 5px;
}

.preset-label {
  text-align: center;
  margin: auto;
  display: inline-block;
  width: 100%;
}

.display-panel-list-item-highlight:hover {
  color: rgb(228, 228, 228);
  background-color: rgb(66, 74, 65);
}

.display-panel-highlight:hover {
  background-color: white;
  color: rgb(81, 91, 80);
}
