.app-container {
    margin: 2vh auto;
    padding: 10px;
    background-color: rgb(46, 46, 46);
    border-radius: 3px;
    max-width: 2000px;
    box-shadow: -4px 5px 16px 4px rgb(75 75 89);
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 576px) {
  .app-container {
    max-width: 576px;
    margin: 0;
    border-radius: 0;
    padding: 0;
    min-height: 100vh;
  }
}