.memory-node {
    min-width: 85px;
    min-height: 85px;
    display: inline-block;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: -4px 5px 11px 4px rgb(38 38 43);
    background-color: rgb(211 232 232);
    border-radius: 3px;
    transition: all 170ms;
}

.memory-node-sine {
    border-radius: 50%;
}

.memory-node-triangle {
    border-radius: 3px 3px 100% 3px;
}

.node-is-active-false {
    border: 1px solid rgb(167, 167, 167);
    transition: all 170ms;
}