.memory-node {
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    margin: 5px;
    background-color: rgb(234, 229, 245);
    border-radius: 3px;
}

.memory-node-circle {
    border-radius: 50%;
}