.memory-node {
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    margin: 5px;
    background-color: rgb(234, 229, 245);
    border-radius: 3px;
}

.memory-node-circle {
    border-radius: 50%;
}

.red {
    background-color: rgb(226, 0, 49);
    box-shadow: 0px 0px 19px 5px rgb(255, 0, 55);
}

.green {
    background-color: rgb(0, 226, 139);
    box-shadow: 0px 0px 19px 5px rgb(2, 241, 150);
}

.purple {
    background-color: rgb(127, 1, 230);
    box-shadow: 0px 0px 19px 5px rgb(139, 1, 251);
}